@{
    ViewBag.Title = "biStatus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="intro">
        <p style='text-align: center;'><b>BURN IN EQUIPMENT STATUS</b></p>
        <input class="loc" value="TNR" hidden />
        <div style="width: 100%;">
            @*<table style="width: auto; margin: 0px auto 0px;border-collapse: collapse;">
                <thead>
                    <tr>
                        <td>
                            PROCESS:<select id="pkgLine" class="filter" name="pkgLine" data-col="PACKAGE LINE">
                                <option value="" default selected></option>
                            </select>
                        </td>

                        <td style="padding-left:15px;">
                            Status owner:<select id="statusOwner" class="filter" name="statusOwner" data-col="STATUS OWNER">
                                <option value="" default selected></option>
                            </select>
                        </td>

                        <td style="padding-left:15px;">
                            MACHINE PF:<select id="tstpf" class="filter" name="tstpf" data-col="MACHINE PF">
                                <option value="" default selected></option>
                            </select>
                        </td>

                        <td style="padding-left:15px;">
                            MACHINE ID:<select id="tstID" class="filter" name="tstID" data-col="MACHINE ID">
                                <option value="" default selected></option>
                            </select>
                        </td>

                        <td style="padding-left:15px;">
                            |Keyword:
                            <input id="keyword" type="text" name="keyword" placeholder="Search Keyword" />|
                            <input id="filter" type="button" name="filter" value="Filter">
                        </td>
                    </tr>
                </thead>
            </table>*@
            <div class="m-3">
                <div class="row">
                    <div class="col-10">
                        <div class="row">
                            <div class="col-3">
                                PROCESS
                            </div>
                            <div class="col-3">
                                STATUS OWNER
                            </div>
                            <div class="col-3">
                                MACHINE PF
                            </div>
                            <div class="col-3">
                                MACHINE ID
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <select id="pkgLine" class="filter form-control form-control-sm" name="pkgLine" data-col="PACKAGE LINE">
                                    <option value="" default selected></option>
                                </select>
                            </div>
                            <div class="col-3">
                                <select id="statusOwner" class="filter form-control form-control-sm" name="statusOwner" data-col="STATUS OWNER">
                                    <option value="" default selected></option>
                                </select>
                            </div>
                            <div class="col-3">
                                <select id="tstpf" class="filter form-control form-control-sm" name="tstpf" data-col="MACHINE PF">
                                    <option value="" default selected></option>
                                </select>
                            </div>
                            <div class="col-3">
                                <select id="tstID" class="filter form-control form-control-sm" name="tstID" data-col="MACHINE ID">
                                    <option value="" default selected></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-2" style="border-left:solid;border-left-color:#546e7a">
                        <div class="row">
                            <div class="col-12">
                                SEARCH
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <input id="keyword" class="form-control form-control-sm" type="text" name="keyword" placeholder="Search Keyword" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="container">
        <div id='forUpdate'></div>
        <table id="keywords" class="table table-responsive-sm blue custom_table">
            <thead id="thead">
                <tr style="cursor: default;">
                    <th>DATE / TIME</th>
                    <th>MACHINE ID</th>
                    <th>MACHINE PF</th>
                    <th>PRODUCT NAME</th>
                    <th>PACKAGE</th>
                    <th>PACKAGE LINE</th>
                    <th>LOT ID</th>
                    <th>STATUS</th>
                    <th>STATUS OWNER</th>
                    <th>DURATION (HRS.)</th>
                    <th>COMMENTS</th>
                    <th>WHO</th>
                </tr>
            </thead>
            <tbody class="tbodyBI"></tbody>
        </table>
    </div>
</div>

<div class="footer" style=" text-align: center;">
    <span style="color:white;">APPLICATIONS ENGINEERING © 2019 v.1.0.0</span>
</div>
<script type="text/javascript">

</script>

</body>
</html>